{% extends "airflow/master.html" %}

{% block title %}
{% include "partials/reports_title.html" with context %}
{% endblock %}

{% block head_css %}
{{ super() }}
<link href="{{ url_for('static', filename='bootstrap-toggle.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('rb_status.static', filename='mgmt.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
{% include "partials/reports_body.html" with context %}
{% endblock %}

{% block tail %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-toggle.min.js') }}"></script>
<script src="{{ url_for('rb_status.static', filename='reports.js') }}"></script>
{% endblock %}