{% extends base_template %}

{% block page_title %}
{% include "partials/status_title.html" %}
{% endblock %}

{% block head_css %}
{{ super() }}
<link href="{{ url_for('rb_status.static', filename='status.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% include "partials/status_body.html" %}
{% endblock %}

{% block tail %}
{{ super() }}
<script src="{{ url_for_asset('d3.min.js') }}"></script>
<script>
	const content = {{ content.reports| tojson }};
	function getReportTime(reports){
		for(var id in reports){
		  report_id = `report-${ reports[id].report_title_id }-heading .report-highlights .report-meta`;
		  g = d3.select('div#' + report_id).selectAll('.report-datetime');
		  f = d3.select(`.report-header .updated`).selectAll('.report-datetime');
		  g.insert(isoDateToTimeEl.bind(null,reports[id].updated, {title: false}));
		  f.insert(isoDateToTimeEl.bind(null,reports[id].updated, {title: false}));
		}	
	}
	getReportTime(content);
</script>
{% endblock %}