#reports-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 30px;

  h2 {
    margin-top: 0;
  }
}

.select2-container + select {
  display: block !important;
  height: 0 !important;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
}
